body { 
    margin:0; 
    padding:0; 
    font-family: 'Montserrat', sans-serif;
}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;
}

.marker {
    background-image: url('icon.png');
    background-size: cover;
    width: 25px;
    height: 40px;
    border-radius: 5%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
  }

  .sidebar {
    width: 15%;
    min-width: 200px;
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0;
    z-index: 50;
    background-color:grey;
    text-align: center;
    overflow: auto;
  }

  /* hide scrollbar */
  .sidebar::-webkit-scrollbar { width: 0 !important }
  .sidebar { overflow: -moz-scrollbars-none; }
  .sidebar { -ms-overflow-style: none; }

  .hide-sidebar{
    display:none;
  }

  .sidebar h1{
    font-size:24px;
    color:white;
    padding-top:35px;
    font-weight: 800;
    font-style: italic;

  }

  .item{
    margin:15px;
    padding:0;
    border-top: 2px solid #c9c9c9;
  }

  .title{
   color:black;
    font-size: 18px;
    margin:7px;
    padding:0;
    font-weight: bold;
  }

  .address{
    color:white;
    font-size: 14px;
    margin:7px;
    padding:0;
  }

  /* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.icon{
  left:1%;
  top:2%;
  font-size: 26px;
  color:black;
  position:absolute; 
  z-index: 99;
}

.icon:hover{
  color:red;
}

@media only screen and (max-width: 550 px){
  .sidebar h1{
    font-size: 18px;
  }
  .title{
    font-size: 15px;
  }
  .address{
    font-size: 11px;
  }
}