body { 
    margin:0; 
    padding:0; 
    font-family: 'EB Garamond', serif;
}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;
}

.marker {
    background-image: url('icon.png');
    background-size: cover;
    width: 25px;
    height: 40px;
    border-radius: 5%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
  }

  .sidebar {
    width: 15%;
    min-width: 200px;
    position:absolute; 
    top:50px; 
    bottom:50px; 
    left:10px;
    z-index: 99;
    background-color:#031e4a;
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
  }

  .hide-sidebar{
    display:none;
  }

  .sidebar h1{
    font-size:21px;
    color:white;
    margin-top:15px;
  }

  .item{
    border: 1px solid black;
    border-radius: 5px;
    margin:10px;
    padding:0;
    background-color: #cce8ed;
  }

  .title{
    color:black;
    font-size: 18px;
    margin:7px;
    padding:0;
    font-weight: bold;
  }

  .address{
    color:black;
    font-size: 14px;
    margin:7px;
    padding:0;
  }

  /* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.icon{
  left:2%;
  top:2%;
  font-size: 26px;
  color:black;
  position:absolute; 
  z-index: 99;
}

.icon:hover{
  color:red;
}

@media only screen and (max-width: 550 px){
  .sidebar h1{
    font-size: 18px;
  }
  .title{
    font-size: 15px;
  }
  .address{
    font-size: 11px;
  }
}